@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

/************************ NAVMAIN & FOOTER COMPONENTS */
.fixed-navmain,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: teal;
  padding: 20px 0;
  color: #fff;
}

.fixed-navmain {
  top: 0;
  height: 80px;
}

.fixed-footer {
  bottom: 0;
  height: 20px;
}

.main-content {
  display: flex;
  padding-top: 120px;
  padding-bottom: 60px;
  /* height: 900px; */
}

.title-app {
  margin: 20px 30px;
}

/* test css scope */
.colorBox {
  background-color: red;
}
