@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Varela Round", sans-serif;
}

/************************ NAVMAIN & FOOTER COMPONENTS */
.fixed-navmain,
.fixed-footer {
  width: 100%;
  position: fixed;
  background: teal;
  padding: 20px 0;
  color: #fff;
}

.fixed-navmain {
  top: 0;
  height: 80px;
}

.fixed-footer {
  bottom: 0;
  height: 20px;
}

.main-content {
  display: flex;
  padding-top: 120px;
  padding-bottom: 60px;
  /* height: 900px; */
}

.title-app {
  margin: 20px 30px;
}

/************************ FILTERS COMPONENT */
.filters {
  width: 30%;
  border: grey 1px solid;
  border-radius: 5px;
  margin: 20px;
}

.filters > * {
  margin: 10px 20px;
}

.filter-title {
  text-align: center;
}

/* RESET FILTER */
.reset-filter-btn {
  padding: 5px 10px;
  font-size: 15px;
}

.reset-filter-btn:hover {
  cursor: pointer;
}

.input-range:hover {
  cursor: pointer;
}

/* BRAND FILTER */
.input-checkbox {
  margin-left: 50px;
}

.input-checkbox:hover {
  cursor: pointer;
}

/* COLOR FILTER */

.all-colors {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 10px;
}

.colorBox {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  background-color: green;
  justify-self: center;
  align-self: center;
}

.colorBox:hover {
  border: 2px solid white;
  cursor: pointer;
}

/************************ TSHIRT LIST COMPONENT */
.tshirtsList {
  width: 70%;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
}

.tshirt-box {
  width: 200px;
  height: 200px;
  border: 1px solid grey;
  justify-self: center;
  align-self: center;
  text-align: center;
}

.tshirt-name {
  text-align: left;
  padding: 5px 0 0 5px;
}
.tshirt-picture {
  height: 150px;
}

.price {
  text-align: right;
  padding: 0 5px 5px 0;
}
