/************************ FILTERS COMPONENT */
.filters {
  width: 30%;
  border: teal 3px solid;
  border-radius: 5px;
  margin: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.filters > * {
  margin: 10px 20px;
  text-align: left;
}

.filter-title {
  text-align: center;
  margin-bottom: 10px;
}

/* RESET FILTER */
.reset-filter-btn {
  padding: 10px 10px;
  font-size: 15px;
}

.reset-filter-btn:hover {
  background-color: teal;
  color: white;
}

.reset-filter-btn:hover {
  cursor: pointer;
}

.input-range:hover {
  cursor: pointer;
}

/* BRAND FILTER */
.brand-filter {
  display: flex;
}

.input-checkbox {
  margin-left: 50px;
  display: block;
}

.input-checkbox:hover {
  cursor: pointer;
}

.brand {
  width: 60px;
  display: block;
}

/* COLOR FILTER */

.all-colors {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 10px;
}

.colorBox {
  width: 25px;
  height: 25px;
  border: 2px solid black;
  justify-self: center;
  align-self: center;
}

.isSelected {
  border: 2px dashed red;
}

.colorBox:hover {
  border: 2px solid white;
  cursor: pointer;
}

.colorBox.black {
  background-color: black;
}

.colorBox.white {
  background-color: white;
}

.colorBox.green {
  background-color: green;
}

.colorBox.pink {
  background-color: pink;
}

.colorBox.yellow {
  background-color: yellow;
}

.colorBox.blue {
  background-color: blue;
}

.colorBox.purple {
  background-color: purple;
}

.colorBox.red {
  background-color: red;
}
